{{- $breadcrumbs := slice -}}

{{- /* Home */ -}}
{{- $breadcrumbs = $breadcrumbs | append (dict "name" "Home" "url" .Site.BaseURL) -}}

{{- /* Category (Primary taxonomy) */ -}}
{{- with .Params.categories }}
  {{- $cat := index . 0 -}}
  {{- $catURL := printf "%scategories/%s/" $.Site.BaseURL ($cat | urlize) -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" $cat "url" $catURL) -}}
{{- end }}

{{- /* Current page */ -}}
{{- if and (not .IsHome) (eq .Kind "page") }}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .Permalink) -}}
{{- end }}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- range $index, $crumb := $breadcrumbs }}
    {{- if $index }},{{ end }}
    {
      "@type": "ListItem",
      "position": {{ add $index 1 }},
      "name": "{{ $crumb.name }}",
      "item": "{{ $crumb.url }}"
    }
    {{- end }}
  ]
}
</script>