{{- $breadcrumbs := slice -}}
{{- $breadcrumbs = $breadcrumbs | append (dict "name" "Home" "url" .Site.BaseURL) -}}

{{- if .Section -}}
  {{- $sectionURL := printf "%s%s/" .Site.BaseURL .Section -}}
  {{- $sectionName := .Section | humanize | title -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" $sectionName "url" $sectionURL) -}}
{{- end -}}

{{- if not .IsHome -}}
  {{- $breadcrumbs = $breadcrumbs | append (dict "name" .Title "url" .Permalink) -}}
{{- end -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- range $index, $crumb := $breadcrumbs }}
    {{- if $index }},{{ end }}
    {
      "@type": "ListItem",
      "position": {{ add $index 1 }},
      "name": "{{ $crumb.name }}",
      "item": "{{ $crumb.url }}"
    }
    {{- end }}
  ]
}
</script>
