@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
}

/* Alpine.js cloak */
[x-cloak] {
  display: none !important;
}
